
/* Global styles */

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-family: 'Merriweather', serif;
    color: #6d8088;
  }
  form {
    max-width: 100%;
    margin: auto;
    background-image: url("../img/wov.png");
    background-color: rgba(255, 255, 255, .8);
    background-blend-mode: overlay;
  }
  h1, h2, legend {
      color: #2E3945;
  }

/* Page section styles */

  .wrapper {
    max-width: 90%;
    margin: auto;
  }
  .banner {
    text-align: center;
    padding: 1em 0 1.5em;
    border-bottom: #2e3945 solid 5px;
  }


/* Page element styles */

  h1.header {
    background: #2e3945;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: auto;
    padding: 1em 0;
    text-align: center;
  }
  hr {
    height: 2px;
    background: #333;
    margin-top: 3px;
  }
  fieldset {
    padding: 0;
    border: none;
  }
  legend {
    font-size: 1.5em;
    font-weight: bold;
    padding: 30px 0 50px;
  }
  label {
    display: block;
    margin-bottom: 8px;
  }
  ::-webkit-input-placeholder {
    font-style: italic;
    text-align: right;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 5em;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8e7e4;
    color: #7d8a93;
  }
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  input:focus,
  select:focus,
  textarea:focus {
    border: #617b99 3px solid;
    background: #f9f8f5;
    transition: all .3s ease-in-out;
  }
  input[id="zipcode"] {
    max-width: 50%;
    margin-bottom: 40px ;
  }
  select[id="country"] {
    height: 4.35rem;
    width: 100%;
  }
  span {
    line-height: 45px;
  }
  span label {
      margin-top: -30px;
  }
  .zipcode label{
      margin-top: -20px;
  }
  div.newsletter-item label,
  div.newsletter-item input {
    float: left;
  }
  div.newsletter-item input {
    margin: 5px 10px 0 0;
  }
  div.newsletter-text {
    margin-top: 15px;
  }
  div.newsletter-format label,
  div.newsletter-format input {
    float: left;
  }
  div.newsletter-format input {
    margin: 3px 10px 0 0;
  }
  #textarea {
    margin-top: 25px;
    height: 8em;
  }
  button {
    border: none;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #E8840C;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    margin: 30px 0 30px;
  }
  footer {
      background: #2E3945;
      color: #FFFFFF;
      text-align: center;
      font-style: italic;
      padding: 45px 0 45px;
  }



/* Media Queries */

  @media screen and (min-width: 780px) {

      .wrapper {
          width: 90%;
          max-width: 700px;
      }
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      select {
          max-width: 70%;
      }
      body input,
      body select {
          float: right;
          display: inline-block;
      }
      body span {
          display: table-cell;
          width: 800px;
          line-height: 75px;
      }
      span label {
          margin-top: 0;
      }
      div.zipcode > label {
          display: inline-block;
          float: left;
          margin-top: 30px;
      }
      input[id="zipcode"] {
          display: inline-block;
          float: left;
          max-width: 35%;
          margin: 0 0 40px 131px;
      }
      #textarea {
          margin-top: 25px;
          height: 6em;
      }
  }
